@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.colored-tag {
  background-color: $primary-green;
  color: $primary-white;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}
