@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 5rem;

  .filter-form {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-top: 0;
    background-color: white;
    border-radius: 0.625rem;
    width: 80%;
    max-width: 58.1875rem;
    margin: auto;
    position: relative;

    &__head {
      @include flexbox(row, center, center);
    }

    &__title {
      @include heading3;
      line-height: 3.75rem;
      color: $primary-green;
    }

    &__subtitle {
      @include heading4;
      line-height: 3rem;
    }

    &__close {
      transform: scale(1.3);
      position: absolute;
      right: 1rem;
      top: 1rem;
      &:hover {
        cursor: pointer;
      }
    }

    &__access {
      width: 100%;
      margin-top: 1rem;
      @include flexbox(column, flex-start, flex-start);
    }

    &__access-options {
      padding: 0 1rem;
      width: 100%;
      @include flexbox(row, flex-start, center);
    }

    &__access-item {
      width: 20%;
      @include flexbox(row, flex-start, center);
    }

    &__label {
      margin-left: 0.5rem;
      @include body2;
      line-height: 2.25rem;
    }

    &__description {
      @include body1;
      padding: 0 1rem;
    }

    ///////////////////////price range & number of people
    &__entries {
      margin-top: 1.5rem;
    }

    &__range {
      @include flexbox(row, flex-start, center);
      padding: 0 1rem;
      margin-top: 1rem;
    }

    &__range-mid {
      margin: 0 0.5rem;
      color: $secondary-gray;
    }

    ///////////////////////activity
    &__activity {
      @include flexbox(column, flex-start, flex-start);
    }

    &__activity-part {
      @include flexbox(row, flex-start, center);
    }

    &__activity-item {
      @include flexbox(row, flex-start, center);
      margin-left: 4rem;
      &:nth-of-type(1) {
        margin-left: 1rem;
      }
    }
    ///////////////////////bottom
    &__bottom {
      width: 100%;
      padding-right: 2rem;
      padding-bottom: 1rem;
      @include flexbox(row, flex-end, center);
    }
  }
}
