@use "./typography";
@use "./mixins" as *;
@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  color: $primary-gray;
  background-color: $primary-white;
}

button {
  font-family: inherit;
  color: $primary-black;
  height: 2.25rem;
  padding: 0 3rem;
  border-radius: 15px;
  background-color: $primary-green;
  border: 1px solid $primary-green;
  color: $primary-white;

  &:hover,
  &:active {
    cursor: pointer;
    color: $primary-white;
    background-color: $hover-green;
    box-shadow: 0 2px 8px rgba(253, 253, 253, 0.685);
  }

  @include tablet {
    height: 2.375rem;
  }
}

input,
textarea {
  font-family: inherit;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid $primary-gray;

  &::placeholder {
    font-family: inherit;
    color: $primary-gray;
    color: $secondary-gray;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary-green;
  }

  &:focus:invalid {
    outline: none;
    border: 1px solid red;
  }

  @include tablet {
    height: 2.375rem;
  }
}

a {
  text-decoration: none;
  color: $primary-black;
}
