@use "variables" as *;

//responsive
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//flexbox
@mixin flexbox($flex-direction, $justify-content, $align-item) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-item;
  flex-direction: $flex-direction;
}

/********* font *********/
@mixin heading {
  font-weight: 700;
  line-height: 3rem;
  font-size: 2.5rem;
}

@mixin heading2 {
  font-weight: 600;
  line-height: 2rem;
  font-size: 2rem;
}

@mixin heading3 {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
}

@mixin heading4 {
  font-weight: 600;
  line-height: 2.25rem;
  font-size: 1.25rem;
}

@mixin body1 {
  font-weight: 400;
  line-height: 1.6875rem;
  font-size: 1.125rem;
}

@mixin body2 {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1.5rem;
}

@mixin card-title {
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

@mixin card-description {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.9375rem;
}
