@use "variables" as *;

//responsive
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//flexbox
@mixin flexbox($flex-direction, $justify-content, $align-item) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-item;
  flex-direction: $flex-direction;
}

/********* font for desktop and tablet *********/
@mixin page-header {
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 2rem;
}

@mixin subheader {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
}

@mixin labels {
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
}

@mixin table-header {
  font-weight: 600;
  line-height: 1.125rem;
  font-size: 0.75rem;
}

@mixin body-large {
  font-weight: 400;
  line-height: 1.75rem;
  font-size: 1rem;
}

@mixin body-medium {
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 0.875rem;
}

@mixin body-small {
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.75rem;
}

/********* font for mobil *********/
@mixin mobil-page-header {
  font-weight: 600;
  line-height: 2.25rem;
  font-size: 1.75rem;
}

@mixin mobil-subheader {
  font-weight: 600;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

@mixin mobil-labels {
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 0.8125rem;
}

@mixin mobil-table-header {
  font-weight: 600;
  line-height: 1rem;
  font-size: 0.6875rem;
}

@mixin mobil-body-large {
  font-weight: 400;
  line-height: 1.625rem;
  font-size: 0.9375rem;
}

@mixin mobil-body-medium {
  font-weight: 400;
  line-height: 1.25rem;
  font-size: 0.8125rem;
}

@mixin mobil-body-small {
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.6875rem;
}
