@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
