$primary-white: #ffffff;
$primary-gray: #444444;
$primary-green: #328b98;

$secondary-gray: #8c8c8c;
$hover-green: #1c6c8a;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$primary-black: #141415;
