@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  padding-top: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;

  @include tablet {
    width: 48%;
    height: 18.75rem;
  }

  @include desktop {
    @include tablet {
      width: 31%;
      height: 18.75rem;
    }
  }

  &__title {
    // any style needed for the title
    padding: 0 1rem;
  }

  &__img-container {
    width: 100%;
    height: 18.75rem;
    border-radius: 5px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
