.testimonies {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 100px;
    &__wrapper {
      display: flex;
      gap: 2rem;
      overflow: scroll;   

    }
    &__title {
      text-align: center;
      padding: 16px;
    }
}