@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.search {
  margin-bottom: 7rem;

  &__top {
    // @include page-header;
    padding: 2rem 6rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__category {
    display: flex;
    gap: 1rem;
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &-right {
      display: flex;
      align-items: center;
    }
  }

  &__cards {
    display: flex;
    gap: 2rem;
    padding: 2rem 6rem;
  }
}

.filter-icon {
  width: 1rem;
}
