@use '../../styles/partials/global.scss';
@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/typography.scss';

.testimony {
  // border: 1px solid grey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.653);
  min-width: 24%;
  border-radius: 12px;
  // min-width: 180px;
  &__img-container {
    display: flex;
    gap: 20px;
    padding: 16px;
  }
  &__img {
   height: 40px;
   width: 40px;
  }
  &__name {
    @include mixins.card-description
  }
  &__description {
    font-weight: 14px;
    text-align: center;
  }
  &__date {
    @include mixins.card-description

  }
  &__rating-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}