@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.detailedActivity {
  width: 100%;
  padding: 3rem 4rem;
  padding-bottom: 8rem;

  &__routes {
    @include flexbox(row, flex-start, center);
  }

  &__link {
    margin-right: 1rem;
  }

  /////////////////////
  &__info {
    margin-top: 2rem;
    margin-bottom: 5rem;
    @include flexbox(row, center, flex-start);
    gap: 2rem;
  }

  &__left {
    width: 40%;
    min-width: 35rem;
    max-width: 35.5rem;
    height: 31.5rem;
    @include flexbox(row, space-between, center);
  }

  &__big {
    width: 23.0625rem;
    height: 31.5rem;
    margin-right: 1rem;
  }

  &__image-container {
    width: 10.875rem;
    @include flexbox(column, flex-start, flex-start);
  }

  &__mid {
    width: 10.875rem;
    height: 18.125rem;
    margin-bottom: 1.2rem;
  }
  &__small {
    width: 10.875rem;
    height: 12rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  ///////////////////
  &__right {
    width: 50%;
  }

  &__headline {
    @include flexbox(row, space-between, center);
  }

  &__like {
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__name {
    @include heading3;
  }

  &__star-line {
    margin-top: 0.5rem;
  }

  &__star {
    margin-left: 0.25rem;
  }

  &__star-count {
    @include card-description;
    color: $primary-green;
  }

  &__location {
    @include card-description;
    margin-top: 0.5rem;
  }

  &__phone {
    @include card-description;
    margin-top: 0.5rem;
  }

  //////////////////////
  &__tag-container {
    margin: 2rem 0;
    @include flexbox(row, space-between, center);
  }

  &__tag {
    padding: 0.3rem 0.5rem;
    border: 1px solid $primary-gray;
    border-radius: 8px;
    @include card-description;
  }

  &__icon {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    transform: scale(1.4);
  }

  &__text-container {
    // max-width: 30rem;
  }

  &__warning {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 1rem;
    @include body1;
  }

  ///////////////
  &__button-container {
    margin-top: 1rem;
    width: 100%;
  }
}
