@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.explore {
  padding-bottom: 5rem;
  position: relative;

  &__header {
    // @include page-header;
    margin-bottom: 2rem;
  }
  &__top {
    // @include page-header;
    padding: 2rem 6rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__category {
    display: flex;
    gap: 1rem;
  }

  &__divide-line {
    background-color: #444444;
    height: 42px;
    width: 1px;
  }

  &__search {
    &-bar {
      border: 1.5px solid #444444;
      background: url("../../assets/icons/search.png");
      background-position: right 5% bottom 45%;
      background-repeat: no-repeat;
      font-size: 1rem;
    }
  }

  &__topic {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: $primary-green;
  }

  &__card {
    &-container {
      padding: 2rem 6rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    &-group {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.filter-icon {
  width: 1rem;
}
