@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.explore {
  margin-bottom: 5rem;


  &__header {
    // @include page-header;
    padding: 2rem 6rem;

  
  &__top {
    // @include page-header;
    padding: 2rem 6rem; 
  }

  &__header {
    margin-bottom: 2rem;

  }

  &__category {
    display: flex;
    
  }

  &__topic {
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  &__card-group {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
}